<h2>Create new surfer</h2>

<form action='/surfers' method = "post">
    <input name="surfer[title]" placeholder="Name of site">
    <input name="surfer[description]" placeholder="Description of site">
    <input name="surfer[Url]" placeholder="website">
    <button>Submit</button>
</form>