<h2>Your selected surfing site</h2>

<h3>    <%= oneSurfer.title;          %></h3>
<h3>    <%= oneSurfer.description;    %></h3>
<h3>    <%= oneSurfer.Url;            %></h3>
<a href="#">Edit</a>
<a href = "#">Delete</a>
<hr>
