<h1>Edit one blogpost</h1>
<form action= '/blogs/<%=blog._id %>?_method=PUT' method="POST">
    <input name="editedBlog[author]" placeholder= "<%= blog.author %>" >
    <input name= "editedBlog[subject]" placeholder = "<%= blog.subject %>" >
    <input name = "editedBlog[description]" placeholder= "<%= blog.description %>" >
<button>submit</button>
</form>