<h1>New blog post</h1>

<form action='/blogs' method = 'POST' id='newBlogForm'>
    <input name = 'author' placeholder='Your Name'>
    <input name = 'subject' placeholder='Subject/Title'>
    <input name = 'description' placeholder='Blog away ...'>
    <input name = 'imageUrl' placeholder='URL for image'>
    <button>Submit!</button>
</form>