<h2>Create new surfer</h2>

<form action="/ducks" method="POST">
    <input name="duck[title]" placeholder="Title">
    <input name="duck[description]" placeholder="Description">
    <input name="duck[imageUrl]" placeholder="Url for Image">
    <button>Submit</button>
</form>